*{
  margin:0;
  padding:0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-family: Arial;
  background-image: url('img/bg3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

header nav {
  text-align: left;
  padding: 20px;
}
header nav a{
  text-decoration: none;
  color: #000;
  font-size: 20px;
  margin-right: 10px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}
header nav a:hover{
  border-bottom: 2px solid #000;

}
.contenedor{
  display: flex;
  justify-content: space-around;
}
.title-wrap{
  margin-left: 35px;
  align-self: center;
  text-align: center;
}
.contenedor .title-wrap h1{
 margin-bottom: 40px;
 font-size: 85px;
 text-align: left;
 align-self: center;
}
.contenedor .title-wrap button{
  font-size: 25px;
  padding: 10px 18px;
  border-radius: 5px;
}
.contenedor .title-wrap button:hover{
  cursor: pointer;
}
.contenedor .image-wrap {
  text-align: center;
  font-weight: bold;
}
.contenedor .image-wrap a{
  text-decoration: none;
  color:#000;
}
.contenedor .image-wrap a:hover{
  text-decoration: underline;
}
.contenedor .image-wrap .image{
  width:300px;
  margin-bottom: 23px;
}
.contenedor .image-wrap .image img{
  width: 100%;
  margin-bottom: 13px;
  vertical-align: top;
}
